{% extends 'admin_dashboard/_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Admin Dashboard | All users{% endblock title %}

{% block content %}
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'my_admin:dashboard' %}">Home</a></li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active" aria-current="page">All</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="custom-background">
                            <tr>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email Address</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            {% if not user.email == request.user.email %}
                            <tr>
                                <td><a href="{% url 'my_admin:user_detail' user.id %}">{{ user.first_name }}</a></td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                {% if user.is_active == True %}
                                <td><span class="badge badge-success">Active</span></td>
                                {% else %}
                                <td><span class="badge badge-danger">Suspended</span></td>
                                {% endif %}
                            
                                {% if user.is_active == True %}
                                <td><a href="{% url 'my_admin:mark_user_as_suspended' user.id %}" class="btn btn-sm btn-danger">Suspend</a></td>
                                {% else %}
                                <td><a href="{% url 'my_admin:mark_user_as_active' user.id %}" class="btn btn-sm btn-info">Activate</a></td>
                                {% endif %}
                                <!-- <td><a href="#" class="btn btn-sm btn-primary">Detail</a></td> -->
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <!--Row-->
</div>
<!---Container Fluid-->
{% endblock content %}