{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="img/logo/logo.png" rel="icon">
    <title>
        GlamourGlam | Elevate Your Style, Embrace Glamour || {% block title %}{%endblock title %}
    </title>

    <link href="{% static 'img/gg favicon.png' %}" rel="shortcut icon" type="image/x-icon">

    <link href="{% static 'admin_dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet"
          type="text/css">
    <link href="{% static 'admin_dashboard/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'admin_dashboard/css/ruang-admin.css' %}" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    {% url 'my_admin:login' as login_page %}
    <!-- Sidebar -->
    {% if login_page == request.path %}
    {% else %}
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'my_admin:dashboard' %}">
            <div class="sidebar-brand-icon">
                <img src="{% static 'img/logo.png' %}">
            </div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'my_admin:dashboard' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            Activity
        </div>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'my_admin:users' %}">
                <i class="fa fa-users"></i>
                <span>Users</span></a>
        </li>
        <li class="nav-item">
            <a aria-controls="collapseBootstrap" aria-expanded="true" class="nav-link collapsed" data-target="#collapseBootstrap"
               data-toggle="collapse" href="#">
                <i class="fa fa-shopping-cart"></i>
                <span>Products</span>
            </a>
            <div aria-labelledby="headingBootstrap" class="collapse" data-parent="#accordionSidebar"
                 id="collapseBootstrap">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{% url 'my_admin:products' %}">All Products</a>
                    <a class="collapse-item" href="{% url 'my_admin:add_product' %}">Add Products</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a aria-controls="collapseForm" aria-expanded="true" class="nav-link collapsed" data-target="#collapseForm"
               data-toggle="collapse" href="#">
                <i class="fa fa-shopping-bag"></i>
                <span>Orders</span>
            </a>
            <div aria-labelledby="headingForm" class="collapse" data-parent="#accordionSidebar" id="collapseForm">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{% url 'my_admin:orders' %}">All Orders</a>
                    <a class="collapse-item" href="{% url 'my_admin:all_pending_orders' %}">Pending Orders</a>
                    <a class="collapse-item" href="{% url 'my_admin:all_shipped_orders' %}">Shipped Order</a>
                    <a class="collapse-item" href="{% url 'my_admin:all_delivered_orders' %}">Delivered Order</a>
                    <a class="collapse-item" href="{% url 'my_admin:all_failed_delivery_orders' %}">Failed Delivery
                        Order</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a aria-controls="collapseTable" aria-expanded="true" class="nav-link collapsed" data-target="#collapseTable"
               data-toggle="collapse" href="#">
                <i class="fa fa-folder"></i>
                <span>Categories</span>
            </a>
            <div aria-labelledby="headingTable" class="collapse" data-parent="#accordionSidebar" id="collapseTable">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{% url 'my_admin:categories' %}">All Categories</a>
                    <a class="collapse-item" href="{% url 'my_admin:add_category' %}">Add Categories</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a aria-controls="collapseSub" aria-expanded="true" class="nav-link collapsed" data-target="#collapseSub"
               data-toggle="collapse" href="#">
                <i class="fa fa-folder-open"></i>
                <span>Sub-Categories</span>
            </a>
            <div aria-labelledby="headingTable" class="collapse" data-parent="#accordionSidebar" id="collapseSub">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{% url 'my_admin:sub_categories' %}">All Sub-Categories</a>
                    <a class="collapse-item" href="{% url 'my_admin:add_sub_category' %}">Add Sub-Categories</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'my_admin:sizes' %}">
                <i class="fa fa-tshirt"></i>
                <span>Sizes</span>
            </a>
        </li><li class="nav-item">
            <a class="nav-link" href="{% url 'my_admin:discount_codes' %}">
                <i class="fa fa-tags"></i>
                <span>Discounts &amp; Coupons</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'my_admin:shipping_addresses' %}">
                <i class="fa fa-truck"></i>
                <span>Shipping &amp; Logistics</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            Customization
        </div>
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fa fa-cog"></i>
                <span>Settings</span>
            </a>
        </li>
    </ul>
    {% endif %}
    <!-- Sidebar -->
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <!-- TopBar -->
            {% if login_page == request.path %}
            {% else %}
            <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                <button class="btn btn-link rounded-circle mr-3" id="sidebarToggleTop">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="#" id="searchDropdown" role="button">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <div aria-labelledby="searchDropdown"
                             class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in">
                            <form class="navbar-search">
                                <div class="input-group">
                                    <input aria-describedby="basic-addon2" aria-label="Search"
                                           class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                                           style="border-color: #3f51b5;" type="text">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="#" id="alertsDropdown" role="button">
                            <i class="fas fa-bell fa-fw"></i>
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <div aria-labelledby="alertsDropdown"
                             class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="#" id="messagesDropdown" role="button">
                            <i class="fas fa-envelope fa-fw"></i>
                            <span class="badge badge-warning badge-counter">2</span>
                        </a>
                        <div aria-labelledby="messagesDropdown"
                             class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img alt="" class="rounded-circle" src="img/man.png" style="max-width: 60px">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                        problem I've been
                                        having.
                                    </div>
                                    <div class="small text-gray-500">Udin Cilok · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img alt="" class="rounded-circle" src="img/girl.png" style="max-width: 60px">
                                    <div class="status-indicator bg-default"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                        told me that people
                                        say this to all dogs, even if they aren't good...
                                    </div>
                                    <div class="small text-gray-500">Jaenab · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="#" id="userDropdown" role="button">
                            <img class="img-profile rounded-circle"
                                 src="{% static 'admin_dashboard/img/IMG_2579.png' %}"
                                 style="max-width: 60px; object-fit: contain;">
                            <span class="ml-2 d-none d-lg-inline text-white small">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                        </a>
                        <div aria-labelledby="userDropdown"
                             class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal"
                               href="javascript:void(0);">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            {% endif %}
            <!-- Topbar -->

            {% block content %}

            {% endblock content %}

            <!-- Modal Logout -->
            <div aria-hidden="true" aria-labelledby="exampleModalLabelLogout" class="modal fade" id="logoutModal"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to logout?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-primary" data-dismiss="modal"
                                    type="button">Cancel
                            </button>
                            <a class="btn btn-primary" href="{% url 'my_admin:logout' %}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                        <span>copyright &copy;
                            <script> document.write(new Date().getFullYear()); </script>
                            All rights reserved | GlamourGlam
                        </span>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    </div>
</div>

<!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<script src="{% static 'admin_dashboard/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin_dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'admin_dashboard/js/ruang-admin.min.js' %}"></script>
<script src="{% static 'admin_dashboard/vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'admin_dashboard/js/demo/chart-area-demo.js' %}"></script>

{% block javascript %}
{% endblock javascript %}
</body>

</html>