* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Top contact section */
.top-menu-section {
    width: 100%;
    background-color: #E1D9D9;
    display: flex;
    justify-content: space-between;
    padding: 4px 30px;
}

.top-menu-section .location,
.top-menu-section .socials {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}

.top-menu-section .socials {
    gap: 20px;
    color: #E1D9D9;
}

.top-menu-section .socials a {
    color: white;
    font-size: 28px;
}

.top-menu-section .socials span {
    -webkit-text-stroke: 1px black;
}

/* Header Section */
.header {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.header .nav {
    transition: all .6s ease-in-out;
}

.header .mobile-nav-toggler {
    display: none;
}

.header .nav-link {
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

.header .nav-link:hover {
    color: #c22c2c;
}

.header .brand h3 {
    font-family: Times new roman;
}

.header .nav-link.active {
    color: #B10707;
    font-size: 19px;
}

.close-mobile-nav {
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 965px) {
    .top-menu-section {
        display: none;
    }

    .header {
        margin-top: 0;
    }

    .header .nav {
        display: none;
        position: absolute;
        background-color: black;
        margin-top: 20px;
        width: 100%;
        right: 0;
        z-index: 1;
        padding: 10px;
        box-shadow: 0 3px 10px rgba(255, 255, 255, 0.1);
    }

    .header .nav .nav-link {
        color: white;
    }

    .header .nav .nav-item {
        margin-bottom: 10px;
    }

    .header .nav .nav-link:hover {
        width: 100%;
        background-color: white;
        color: black;
    }

    .header .active {
        width: 100%;
        background-color: white;
        color: black !important;
    }

    .header .mobile-nav-toggler {
        display: block;
    }
}

/* Hero section */
#hero .swiper-slide {
    width: 100%;
    height: 100%;
}

#hero .swiper-slide .hero-item {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.hero1 {
    background: grey url(../Assets/img/edited_preacher.jpg) top center;
    background-size: cover;
    background-blend-mode: multiply;
}

.hero2 {
    background: grey url(../Assets/img/JSNFM\ people\ worship.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.hero3 {
    background: grey url(../Assets/img/pexels-pixabay-372326\ \(1\).jpg) no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

#hero .swiper-slide .hero-item h1 {
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#hero .swiper-slide .hero-item h2 {
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media (max-width: 740px) {
    #hero .swiper-slide .hero-item h1 {
        font-size: 2.5rem;
    }

    #hero .swiper-slide .hero-item h2 {
        font-size: 2rem;
    }
}

@media (max-width: 415px) {
    #hero .swiper-slide .hero-item h1 {
        font-size: 2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #hero .swiper-slide .hero-item h2 {
        font-size: 1.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

/* Join-us Modal Popup */
.join-us-modal-popup {
    width: 100%;
    background-color: #121212;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
}

.join-us-modal-popup .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-us-modal-popup .container h2 {
    position: absolute;
    right: 10rem;
    top: 5rem;
    font-size: 6rem;
    cursor: pointer;
    color: white;
    font-family: Arial rounded mt;
}

.join-us-modal-popup h4 {
    font-size: 22rem;
    color: rgba(130, 130, 130, 0.1);
    text-align: center;
    width: 100%;
}

.join-us-form {
    width: 50%;
    box-shadow: 0 5px 10px rgba(35, 35, 35, 0.6);
    padding: 2rem;
    position: absolute;
    backdrop-filter: blur(2px);
}

.join-us-form h4 {
    font-size: 3rem;
    text-align: center;
}

.join-us-form .form-group {
    margin-bottom: 20px;
}

.join-us-form .form-group input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 2px;
    outline-color: #B10707;
    padding-left: 8px;
}

.join-us-form button {
    width: 100%;
    border: none;
    margin-top: 1rem;
    height: 35px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    background-color: #B10707;
    color: white;
}

.join-us-form label {
    display: none;
    font-size: 19px;
    font-family: 700px;
}

/* About Section */
#about {
    padding-top: 6rem;
}

.about-us {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-us p {
    width: 100%;
    margin: 3rem 5rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.our-mission,
.our-belief {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-us h3,
.our-mission h3,
.our-belief h3 {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 32px;
}

.our-mission p,
.our-belief p {
    width: 80%;
    margin: 3rem 5rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

@media (max-width: 700px) {
    #about {
        padding-top: 2rem;
    }

    .about-us p,
    .our-mission p,
    .our-belief p {
        width: 100%;
        margin: 2rem 1rem;
    }
}

/* Action Section */
.action {
    width: 100%;
    height: 70vh;
    background: grey url(../Assets/img/image70.jpg) no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.action .doc {
    width: 80%;
    height: 93%;
    background: url(../Assets/img/bibleAndGlobe.jpg) no-repeat;
    background-size: cover;
}

@media (max-width: 415px) {
    .action .doc {
        width: 100%;
    }
}

/* Upcoming Events Section */
.upcomingEvents {
    padding: 2rem;
}

.upcomingEvents h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.1rem;
    margin: 2rem 0;
}

.upcomingEvents table {
    width: 100%;
    font-size: 23px;
    font-weight: 500;
}

.upcomingEvents table tr td:last-child,
.upcomingEvents table tr td:nth-child(2),
.upcomingEvents table tr td:nth-child(1) {
    border-bottom: none;
}

.upcomingEvents table tr td.dates {
    text-align: center;
    border-left: none;
}

.upcomingEvents table tr .more-info {
    border-right: none;
    border-left: none;
    text-align: right;
    text-decoration: none;
    padding-right: 40px;
}

.upcomingEvents table tr .more-info a {
    color: grey;
    text-decoration: none;
}

.upcomingEvents table tr .occassion {
    border-right: none;
}

.upcomingEvents table tr td {
    border: 2px solid black;
    padding: 3rem 2.5rem;
}

@media (max-width: 700px) {
    .upcomingEvents table {
        width: 100%;
        font-size: 12px;
        font-weight: 600;
    }

    .upcomingEvents table tr .more-info {
        padding-right: 10px;
    }
}

@media (max-width: 420px) {
    .upcomingEvents h3 {
        font-size: 26px;
    }
}

/* Our Pastors Sectio  */
.ourPastors {
    padding: 4rem;
}

.ourPastors h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.1rem;
    margin-bottom: 6rem;
}

.pastors {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pastor1,
.pastor2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.pastor1 .pastor1-content,
.pastor2 .pastor1-content {
    width: 71%;
}

.pastor1 .pastor1-content h4,
.pastor2 .pastor1-content h4 {
    font-size: 2rem;
    margin: 2rem 3rem
}

.pastor1 .pastor1-content p,
.pastor2 .pastor1-content p {
    font-weight: 500;
    text-align: left;
}

.pastor1 img,
.pastor2 img {
    width: 70%;
    height: 600px;
}

@media (max-width: 1503px) {

    .pastor1 .pastor1-content h4,
    .pastor2 .pastor1-content h4 {
        font-size: 2rem;
        margin: 2rem 3rem
    }

    .pastor1 .pastor1-content p,
    .pastor2 .pastor1-content p {
        font-size: 18px;
        font-weight: 500;
        text-align: left;
    }

    .pastor1 img,
    .pastor2 img {
        width: 80%;
        height: 500px;
    }

    .pastor1 .pastor1-content p span,
    .pastor2 .pastor1-content p span {
        display: none;
    }
}

@media (max-width: 940px) {

    .pastors {
        display: block;
        width: 100%;
    }

    .pastor1 .pastor1-content p,
    .pastor2 .pastor1-content p {
        font-size: 13px;
        font-weight: 500;
        text-align: left;

    }

    .pastor1,
    .pastor2 {
        width: 100%;
        margin-bottom: 20px;
    }

    .pastor1 img,
    .pastor2 img {
        width: 100%;
        height: 400px;
    }

    .pastor1 .pastor1-content p span,
    .pastor2 .pastor1-content p span {
        display: none;
    }

    .pastor1 .pastor1-content,
    .pastor2 .pastor1-content {
        width: 100%;
    }
}

@media (max-width: 912px) {

    .pastor1 img,
    .pastor2 img {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 768px) {

    .pastor1 img,
    .pastor2 img {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 420px) {

    .pastors {
        display: block;
        width: 100%;
    }

    .pastor1,
    .pastor2 {
        width: 100%;
        margin-bottom: 20px;
    }

    .pastor1 .pastor1-content,
    .pastor2 .pastor1-content {
        width: 100%;
    }

    .pastor1 .pastor1-content p,
    .pastor2 .pastor1-content p {
        font-size: 13px;
        text-align: center;
    }

    .pastor1 img,
    .pastor2 img {
        width: 100%;
        height: 300px;
    }

    .pastor1 .pastor1-content p span,
    .pastor2 .pastor1-content p span {
        display: none;
    }

    .ourPastors h3 {
        font-size: 29px;
        margin: 3rem 0;
    }

    .pastor1 .pastor1-content h4,
    .pastor2 .pastor1-content h4 {
        font-size: 2rem;
        margin: 1rem 1rem
    }

    .ourPastors {
        padding: 10px;
    }
}

/* Testimonials Section */
.testimonials h3 {
    margin: 2rem 4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.1rem;
}

.testimonials .testimonials-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 4rem;
}

.testimonials .testimonials-content p {
    width: 80%;
    font-weight: 600;
}

.testimonials .testimonials-content h4 {
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

@media (max-width: 700px) {
    .testimonials h3 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .testimonials .testimonials-content {
        width: 80%;
    }

    .testimonials .testimonials-content p {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 420px) {
    .testimonials .testimonials-content {
        width: 80%;
    }
}

/* Blog Section */
.blog {
    padding: 10px 0;
    position: relative;
}

.blog h3 {
    margin: 5rem 9rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.1rem;
}

.blog .blog-slider {
    overflow: hidden;
}

.blog .blog-item {
    text-align: center;
    color: black;
}

.blog .blog-item img {
    width: 100%;
}

.blog .blog-item h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #000;
}

.blog .blog-item p {
    margin: 0 auto 15px auto;
    width: 100%;
}

.blog .blog-item a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.blog .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.blog .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ffc451;
    opacity: 1;
}

@media (max-width: 415px) {
    .blog .blog-item img {
        width: 100%;
    }

    .blog .blog-item p {
        width: 100%;
    }
}

/* Gallery Section */
.gallery h3 {
    margin: 5rem 9rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.1rem;
}

.gallery {
    padding: 5px;
    margin-bottom: 50px;
}

.gallery-img {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.gallery-img img {
    width: 97%;
}

@media (max-width: 768px) {
    .gallery {
        display: none;
    }
}

/* Contact Section */
.contact-us-section {
    padding: 10rem 0;
}

.contact-details h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-details p {
    font-style: italic;
    font-size: 19px;
}

.contact-form {
    width: 100%;
}

.contact-form .form-group input {
    width: 100%;
    height: 30px;
    outline-color: #B10707;
}

.contact-form .form-group textarea {
    width: 100%;
    height: 100px;
}

.contact-form .form-group {
    margin-bottom: 10px;
}

.sendBtn {
    width: 100%;
    border: none;
    background-color: #B10707;
    color: white;
    height: 35px;
}

.map {
    width: 100%;
    height: 100%;
}

/* Footer Section */
#footer {
    background-color: #000000;
    padding: 13rem 4rem;
    position: relative;
    bottom: 0;
}

#footer .footer-content {
    align-items: center;
    justify-content: center;
    display: flex;
}

#footer .footer-content ul {
    list-style-type: none;
}

#footer .footer-content ul li:nth-child(1) {
    margin-bottom: 30px;
}

#footer .footer-content ul li {
    font-size: 20px;
}

#footer .footer-content ul li a {
    color: white;
    font-weight: 600;
}

#footer .brand {
    display: flex;
    color: black;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 2rem;
    border-radius: 8%;
}

#footer .brand h3 {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}

#footer .col-lg-3 {
    text-align: center;
}

@media (max-width: 768px) {
    #footer .footer-content {
        display: block;
    }

    #footer .footer-content .links {
        margin-top: 20px;
    }

    #footer {
        padding: 3rem 4rem;
    }

    #footer .brand {
        width: 100%;
    }

    #footer .brand h3 {
        font-size: 1.6rem;
    }

    #footer .footer-content ul li {
        font-size: 13px;
        margin-bottom: 20px;
        width: 100%;
    }

    #footer .col-lg-3 {
        width: 100%;
        padding: 0;
    }

    #footer .col-lg-3 ul {
        padding: 0;
    }
}

@media (max-width: 700px) {
    #footer .footer-content {
        display: block;
    }

    #footer .footer-content .links {
        margin-top: 20px;
    }

    #footer {
        padding: 3rem 4rem;
    }

    #footer .brand {
        width: 100%;
    }

    #footer .brand h3 {
        font-size: 1.6rem;
    }

    #footer .footer-content ul li {
        font-size: 13px;
        margin-bottom: 20px;
        width: 100%;
    }

    #footer .col-lg-3 {
        width: 100%;
        padding: 0;
    }

    #footer .col-lg-3 ul {
        padding: 0;
    }
}