{% extends '_base.html' %}
{% load static %}
{% load humanize %}

{% block cart_num %}

{% if total_items_in_cart == None %}
0
{% else %}
{{ total_items_in_cart }}
{% endif %}

{% endblock cart_num %}

{% block cart_num_offcanvas %}
{% if total_items_in_cart == None %}
0
{% else %}
{{ total_items_in_cart }}
{% endif %}
{% endblock cart_num_offcanvas %}


{% block title %}Checkout{% endblock title %}

{% block customstyle %}
<style>
    .inputError {
        border: 1px solid red !important;
        color: red;
        /* background: rgba(253, 0, 0, 0.833); */
    }
    .error-message {
        color: red;
        font-weight: 600;
    }
</style>
{% endblock customstyle %}


{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'app:home_page' %}"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <form class="checkout__form" method="post" id="checkout__form">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-8">
                    <h5>Billing detail</h5>
                    <div id="checkout-errors" class="col-md-12 form-group text-danger"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>Phone <span>*</span></p>
                                <input type="text" name="phone" id="phone">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>Country <span>*</span></p>
                                <input type="text" name="country" id="country">
                            </div>
                            <div class="checkout__form__input">
                                <p>State <span>*</span></p>
                                <input type="text" name="state" id="state">
                            </div>
                            <div class="checkout__form__input">
                                <p>Address <span>*</span></p>
                                <input type="text" name="address" id="address" placeholder="Street Address">
                            </div>
                            <div class="checkout__form__input">
                                <p>Town/City <span>*</span></p>
                                <input type="text" name="city" id="city">
                            </div>
                            <div class="checkout__form__input">
                                <p>Postcode/Zip <span>*</span></p>
                                <input type="text" name="zipcode" id="zipcode">
                            </div>
                        </div>
                        <!-- <div class="col-lg-12">
                            <h5>Payment Details</h5>
                            <div class="checkout__form__input">
                                <p>Card Number <span>*</span></p>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>Name on card <span>*</span></p>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Expiry Date <span>*</span></p>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>CVV <span>*</span></p>
                                <input type="text">
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout__order">
                        <h5>Your order</h5>
                        <div class="checkout__order__product">
                            <ul>
                                <li>
                                    <span class="top__text">Product</span>
                                    <span class="top__text__right">Total</span>
                                </li>
                                {% for cart_item in cart_items %}
                                <li>x {{ cart_item.quantity }} {{ cart_item.product.name }} <span>&#8358; {{ cart_item.subtotal|intcomma }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="checkout__order__total">
                            <ul>
                                <li>Shipping Fee <span>&#8358; {{ shipping_fee|floatformat:2|intcomma }}</span></li>
                                <li>Subtotal <span>&#8358; {{ total_amount|floatformat:2|intcomma }}</span></li>
                                <li>Total <span>&#8358; {{ total_amount_shipping|floatformat:2|intcomma }}</span></li>
                            </ul>
                        </div>
                        <button type="submit" class="site-btn" id="checkout-btn">Place oder</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Checkout Section End -->

{% endblock content %}

{% block javascript %}
<script>
    // document.addEventListener("DOMContentLoaded", function () {
    //     const form = document.querySelector(".checkout__form");
    //     const formInputs = form.querySelectorAll("input"); // Get all input fields
    //     const phoneInput = document.getElementById("phone");
    //     const countryInput = document.getElementById("country");
    //     const stateInput = document.getElementById("state");
    //     const addressInput = document.getElementById("address");
    //     const cityInput = document.getElementById("city");
    //     const zipcodeInput = document.getElementById("zipcode");

    //     form.addEventListener("submit", function (event) {
    //         event.preventDefault(); // Prevent the form from submitting normally

    //         const validationErrors = {};

    //         // Remove existing error messages and red borders
    //         formInputs.forEach(input => {
    //             input.classList.remove("inputError");
    //             const errorMessage = input.parentElement.querySelector(".error-message");
    //             if (errorMessage) {
    //                 errorMessage.remove();
    //             }
    //         });

    //         // Perform validation for each field
    //         if (!validator.isMobilePhone(phoneInput.value, "en-NG")) {
    //             validationErrors.phone = "Invalid phone number";
    //             phoneInput.classList.add("inputError");
    //             displayErrorMessage(phoneInput, "Invalid phone number");
    //         }
    //         if (!validator.isLength(countryInput.value, { min: 2 })) {
    //             validationErrors.country = "Country is too short";
    //             countryInput.classList.add("inputError");
    //             displayErrorMessage(countryInput, "Country is too short");
    //         }
    //         if (!validator.isLength(stateInput.value, { min: 2 })) {
    //             validationErrors.country = "State is too short";
    //             stateInput.classList.add("inputError");
    //             displayErrorMessage(stateInput, "State is too short");
    //         }
    //         if (!validator.isLength(addressInput.value, { min: 2 })) {
    //             validationErrors.country = "Address is too short";
    //             addressInput.classList.add("inputError");
    //             displayErrorMessage(addressInput, "Address  is too short");
    //         }
    //         if (!validator.isLength(cityInput.value, { min: 2 })) {
    //             validationErrors.country = "City is too short";
    //             cityInput.classList.add("inputError");
    //             displayErrorMessage(cityInput, "City is too short");
    //         }
    //         if (!validator.isLength(zipcodeInput.value, { min: 2 })) {
    //             validationErrors.country = "Zipcode is too short";
    //             zipcodeInput.classList.add("inputError");
    //             displayErrorMessage(zipcodeInput, "Zipcode is too short");
    //         }

    //         // Display validation errors
    //         if (Object.keys(validationErrors).length > 0) {
    //             return;
    //         }

    //         // If all validations pass, submit the form
    //         form.submit();
    //     });

    //     function displayErrorMessage(input, message) {
    //         const errorMessage = document.createElement("span");
    //         errorMessage.className = "error-message";
    //         errorMessage.textContent = message;
    //         input.parentElement.appendChild(errorMessage);
    //     }
    // });

    $(document).ready(function() {
        $('#checkout-btn').click(function(event) {
            event.preventDefault(); // Prevent default form submission
            
            // Disable the button
            $('#checkout-btn').prop('disabled', true);
    
            var formData = $('#checkout__form').serialize(); // Serialize form data
            var url = "{% url 'app:checkout_page' %}"; // URL for login handler
    
            // AJAX request
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function(response) {
                    if (response.success) {
                        location.href = '/order-complete/' + response.order_id + '/complete/'
                    } else {
                        $('#checkout-errors').text(response.message);
                    }
                },
                error: function() {
                    // Handle AJAX request error
                    $('#checkout-errors').text('An error occurred. Please try again.');
                },
                complete: function () {
                    // Re-enable the button after the request is complete
                    $('#checkout-btn').prop('disabled', false);
                }
            });
        });
    });

</script>


{% endblock javascript %}