{% extends '_base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div id="container">
    <div class="col-lg-12">
        <div id="signup-box">
            <form action="{% url 'app:handleUserLogin' %}" method="post">
                {% csrf_token %}
                <h1 id="signup-title">Login</h1>
                <input type="email" id="email-input" name="email" placeholder="Email Address">
                <input type="password" id="password-input" name="password" placeholder="Password">
                <button id="signup-button" type="submit">Login</button>
                <p class="mt-3"><a href="{% url 'app:register_page' %}">Don't have an account? Create one here</a></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}