{% extends '_base.html' %}
{% load static %}
{% load humanize %}

{% block customstyletemp %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock customstyletemp %}

{% block cart_num %}

{% if total_items_in_cart == None %}
    0
{% else %}
{{ total_items_in_cart }}
{% endif %}
    
{% endblock cart_num %}

{% block cart_num_offcanvas %}
{% if total_items_in_cart == None %}
    0
{% else %}
{{ total_items_in_cart }}
{% endif %}
{% endblock cart_num_offcanvas %}

{% block title %}{{ product.name }}{% endblock title %}

{% block customstyle %}
{% endblock customstyle %}


{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'app:home_page' %}"><i class="fa fa-home"></i> Home</a>
                        <span>{{ product.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            {% for image in product_image %}
                            <a class="pt active" href="#product-{{ image.id }}">
                                <img src="{{ image.image.url }}" alt="">
                            </a>
                            {% endfor %}
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                {% for image in product_image %}
                                <img data-hash="product-{{ image.id }}" class="product__big__img" src="{{ image.image.url }}" alt="">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{ product.name }} <span>Category: {{ product.category.name }}</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>
                        <div class="product__price product__details__price" data-usd-price="{{ product.price_usd }}"
                            data-ngn-price="{{ product.price_ngn }}" data-eur-price="{{ product.price_eur }}"
                            data-selected-currency="{{ request.session.currency_preference }}">
                        </div>
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Quantity:</span>
                                <div class="pro-qty qyt-no-form">
                                    <input type="text" value="1" readonly>
                                </div>
                            </div>
                            <a href="" class="cart-btn-product-details" id="add-to-cart-button"><span class="fa fa-shopping-basket"> </span> Add to cart</a>
                            <ul>
                                <li><a href="#" style="color: #BDA06A;" class="fa {% if product_in_wishlist %} fa-heart {% else %}fa-heart-o {% endif %}" id="add-to-wishlist-button" data-product-id="{{ product.id }}"></a></li>
                            </ul>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    <div class="stock__checkbox">
                                        <p>In Stock</p>
                                    </div>
                                </li>
                                <li>
                                    <span>Available color:</span>
                                    <div class="color__checkbox">
                                        {% for color in product.colors.all %}
                                        {% if color.color == "White" %}
                                        <label for="{{ color.color }}">
                                            <input type="radio" name="color__radio" id="{{ color.color }}" {% if forloop.first %}checked{% endif %}>
                                            <span class="custom-checkmark" style="background-color: {{ color.color }}; box-shadow:0 5px 10px rgba(0, 0, 0, .4)"></span>
                                        </label>
                                        {% else %}
                                        <label for="{{ color.color }}">
                                            <input type="radio" name="color__radio" id="{{ color.color }}" {% if forloop.first %}checked{% endif %}>
                                            <span class="checkmark" style="background-color: {{ color.color }}; box-shadow:0 5px 10px rgba(0, 0, 0, .4)"></span>
                                        </label>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    <div class="size__btn">
                                        {% for size in product.sizes.all %}
                                        <label for="{{ size.name }}-btn" class="{% if forloop.first %}active{% endif %}">
                                            <input type="radio" id="{{ size.name }}" name="size__radio" {% if forloop.first %}checked{% endif %}>
                                            {{ size.name }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                
                                <p>{{ product.description }}</p>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews ( 2 )</h6>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                    quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                    Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                    voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                    consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                    quis, sem.</p>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- <section class="product_description_area">
                    <div class="container">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab"
                                    aria-controls="review" aria-selected="false">Reviews</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-lg-12 bg-danger">
                                        <p>{{ product.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="review" role="tabpanel" aria-labelledby="review-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row total_rate">
                                            <div class="col-6">
                                                <div class="box_total">
                                                    <h5>Overall</h5>
                                                    <h4>4.0</h4>
                                                    <h6>(03 Reviews)</h6>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="rating_list">
                                                    <h3>Based on 3 Reviews</h3>
                                                    <ul class="list">
                                                        <li><a href="#">5 Star <i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                                                        </li>
                                                        <li><a href="#">4 Star <i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                                                        </li>
                                                        <li><a href="#">3 Star <i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                                                        </li>
                                                        <li><a href="#">2 Star <i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                                                        </li>
                                                        <li><a href="#">1 Star <i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review_list">
                                            {% for review in reviews reversed %}
                                            <div class="review_item">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <h4>{{ review.authorFullName }}</h4>
                                                        {% if review.ratings == "1" %}
                                                        <i class="fa fa-star"></i>
                                                        {% elif review.ratings == "2" %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        {% elif review.ratings == "3" %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        {% elif review.ratings == "4" %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        {% elif review.ratings == "5" %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <p>{{ review.review }}</p>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="review_box">
                                            <h4>Add a Review</h4>
                                            <p>Your Rating:</p>
                                            <ul class="list" id="rating-container" style="color: #FBD600;">
                                                <li><i class="fa fa-star" data-rating="1"></i></li>
                                                <li><i class="fa fa-star-o" data-rating="2"></i></li>
                                                <li><i class="fa fa-star-o" data-rating="3"></i></li>
                                                <li><i class="fa fa-star-o" data-rating="4"></i></li>
                                                <li><i class="fa fa-star-o" data-rating="5"></i></li>
                                            </ul>
                                            <p>Outstanding</p>
                                            <form class="row contact_form" method="post" id="reviewForm">
                                                {% csrf_token %}
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="reviewAuthorFullName" name="fullName"
                                                            placeholder="Your Full name" onfocus="this.placeholder = ''"
                                                            onblur="this.placeholder = 'Your Full name'">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" id="reviewAuthorEmail" name="email"
                                                            placeholder="Email Address" onfocus="this.placeholder = ''"
                                                            onblur="this.placeholder = 'Email Address'">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="reviewAuthorNumber" name="phone"
                                                            placeholder="Phone Number" onfocus="this.placeholder = ''"
                                                            onblur="this.placeholder = 'Phone Number'">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message" id="reviewMessage" rows="1"
                                                            placeholder="Review" onfocus="this.placeholder = ''"
                                                            onblur="this.placeholder = 'Review'"></textarea></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <span id="review-errors"></span>
                                                </div>
                                                <div class="col-md-12 text-right">
                                                    <button type="submit" value="submit" class="primary-btn" id="submit-review-button">Submit Now</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                {% for related_product in related_products %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        {% with image=related_product.productimage_set.first %}
                        <div class="product__item__pic set-bg" data-setbg="{{ image.image.url }}">
                            <div class="label new">New</div>
                            <ul class="product__hover">
                                <li><a href="#" id="add-to-wishlist-button"><span
                                            class="fa {% if in_wishlist %} fa-heart {% else %}fa-heart-o{% endif %}"
                                            data-product-id="{{ product_info.product.id }}"></span></a></li>
                                {% for color in related_product.colors.all %}
                                {% for size in related_product.sizes.all %}
                                {% if forloop.parentloop.first and forloop.first %}
                                <li><a class="add-to-cart-link" href="#" id="add-to-cart-button" data-product-id="{{ related_product.id }}"
                                        data-color-id="{{ color.color }}" data-size-id="{{ size.name }}"><span class="fa fa-shopping-cart"></span></a>
                                </li>
                                {% else %}
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                                <li><a href="{% url 'app:product_detail_page' related_product.id %}"><span class="fa fa-plus"></span></a></li>
                            </ul>
                        </div>
                        {% endwith %}
                        <div class="product__item__text">
                            <h6><a href="{% url 'app:product_detail_page' related_product.id %}">{{ related_product.name }}</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price" data-usd-price="{{ related_product.price_usd }}"
                                data-ngn-price="{{ related_product.price_ngn }}" data-eur-price="{{ related_product.price_eur }}"
                                data-selected-currency="{{ request.session.currency_preference }}">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->
    
{% endblock content %}
    
{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const addToCartButton = document.getElementById("add-to-cart-button");
        
        addToCartButton.addEventListener("click", function(event) {
            event.preventDefault();

            const productId = "{{ product.id }}";
            const selectedColorElement = document.querySelector('input[name="color__radio"]:checked');
            const selectedSizeElement = document.querySelector('input[name="size__radio"]:checked');
            const selectedQuantity = document.querySelector('.pro-qty input').value;

            const selectedColor = selectedColorElement.id;
            const selectedSize = selectedSizeElement.id;

            const addToCartUrl = `/add-to-cart/${productId}/${selectedColor}/${selectedSize}/${selectedQuantity}/`;

            // Redirect to the generated URL
            window.location.href = addToCartUrl;
        });

        var proQty = $('.pro-qty');
        proQty.prepend('<span class="dec qtybtn">&minus;</span>');
        proQty.append('<span class="inc qtybtn">&plus;</span>');
        proQty.on('click', '.qtybtn', function () {
            var $button = $(this);
            var oldValue = $button.parent().find('input').val();
            if ($button.hasClass('inc')) {
                var newVal = parseFloat(oldValue) + 1;
            } else {
                // Don't allow decrementing below zero
                if (oldValue > 0) {
                    var newVal = parseFloat(oldValue) - 1;
                } else {
                    newVal = 0;
                }
            }
            $button.parent().find('input').val(newVal);
        });
    });

    $(document).ready(function() {
        
        let selectedRating = 1;

        $('#rating-container li i').click(function() {
            selectedRating = $(this).data('rating');
            $('#rating-container li i').removeClass('fa-star').addClass('fa-star-o');
            $(this).prevAll().addBack().removeClass('fa-star-o').addClass('fa-star');
        });

        $('#submit-review-button').click(function(event) {
            event.preventDefault(); // Prevent default form submission

            let productId = "{{ product.id }}";
            let review_error = document.getElementById("review-errors");
            review_error.textContent = "";

            let name = document.getElementById("reviewAuthorFullName").value
            let email = document.getElementById("reviewAuthorEmail").value
            let number = document.getElementById("reviewAuthorNumber").value
            let message = document.getElementById("reviewMessage").value

            // AJAX request
            $.ajax({
                type: 'POST',
                url: '/product/add-review/' + productId + '/',
                data: {
                    fullName: name,
                    email: email,
                    phone: number,
                    message: message,
                    rating: selectedRating,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(response) {
                    location.reload();
                },
                error: function() {
                    // Handle AJAX request error
                    $('#review-errors').text('An error occurred. Please try again.');
                }
            });
        });
    });

    $(document).ready(function () {
            $('#add-to-wishlist-button').click(function (e) {
                e.preventDefault()

                let icon = $(this);
                let productId = icon.data('product-id');

                $.ajax({
                    type: 'POST',
                    url: '/product/add-to-wishlist/',
                    data: {
                        product_id: productId,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        if (data.added) {
                            icon.removeClass('fa-heart-o').addClass('fa-heart')
                        } else {
                            icon.removeClass('fa-heart').addClass('fa-heart-o')
                        }
                    }
                })
            })
        })
</script>
{% endblock javascript %}