{% extends '_base.html' %}
{% load static %}
{% load humanize %}

{% block customstyletemp %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock customstyletemp %}

{% block cart_num %}

{% if total_items_in_cart == None %}
    0
{% else %}
{{ total_items_in_cart }}
{% endif %}
    
{% endblock cart_num %}

{% block cart_num_offcanvas %}
{% if total_items_in_cart == None %}
    0
{% else %}
{{ total_items_in_cart }}
{% endif %}
{% endblock cart_num_offcanvas %}

{% block title %}{{ product.name }}{% endblock title %}


{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'app:home_page' %}"><i class="fa fa-home"></i> Home</a>
                        <span>{{ product.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            {% for image in product_image %}
                            <a class="pt active" href="#product-{{ image.id }}">
                                <img src="{{ image.image.url }}" alt="">
                            </a>
                            {% endfor %}
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                {% for image in product_image %}
                                <img data-hash="product-{{ image.id }}" class="product__big__img" src="{{ image.image.url }}" alt="">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{ product.name }} <span>Category: {{ product.category.name }}</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>
                        <div class="product__details__price">$ {{ product.price|intcomma }} <span>{{ price_with_increase|floatformat:2|intcomma }}</span></div>
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Quantity:</span>
                                <div class="pro-qty">
                                    <input type="number" value="1">
                                </div>
                            </div>
                            <a href="" class="cart-btn-product-details" id="add-to-cart-button"><span class="icon_bag_alt"></span> Add to cart</a>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Available color:</span>
                                    <div class="color__checkbox">
                                        {% for color in product.colors.all %}
                                        {% if color.color == "White" %}
                                        <label for="{{ color.color }}">
                                            <input type="radio" name="color__radio" id="{{ color.color }}" {% if forloop.first %}checked{% endif %}>
                                            <span class="custom-checkmark" style="background-color: {{ color.color }}; box-shadow:0 5px 10px rgba(0, 0, 0, .4)"></span>
                                        </label>
                                        {% else %}
                                        <label for="{{ color.color }}">
                                            <input type="radio" name="color__radio" id="{{ color.color }}" {% if forloop.first %}checked{% endif %}>
                                            <span class="checkmark" style="background-color: {{ color.color }}; box-shadow:0 5px 10px rgba(0, 0, 0, .4)"></span>
                                        </label>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    <div class="size__btn">
                                        {% for size in product.sizes.all %}
                                        <label for="{{ size.name }}-btn" class="{% if forloop.first %}active{% endif %}">
                                            <input type="radio" id="{{ size.name }}-btn" name="size__radio" {% if forloop.first %}checked{% endif %}>
                                            {{ size.name }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <section class="product_description_area">
                    <div class="container">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                    aria-controls="contact" aria-selected="false">Comments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab"
                                    aria-controls="review" aria-selected="false">Reviews</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <p>{{ product.description }}</p>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="comment_list">
                                            <div class="review_item">
                                                <div class="media">
                                                    <div class="d-flex">
                                                        <img src="img/product/review-1.png" alt="">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4>Blake Ruiz</h4>
                                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                                        <a class="reply_btn" href="#">Reply</a>
                                                    </div>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et
                                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                    ullamco laboris nisi ut aliquip ex ea
                                                    commodo</p>
                                            </div>
                                            <div class="review_item reply">
                                                <div class="media">
                                                    <div class="d-flex">
                                                        <img src="img/product/review-2.png" alt="">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4>Blake Ruiz</h4>
                                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                                        <a class="reply_btn" href="#">Reply</a>
                                                    </div>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et
                                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                    ullamco laboris nisi ut aliquip ex ea
                                                    commodo</p>
                                            </div>
                                            <div class="review_item">
                                                <div class="media">
                                                    <div class="d-flex">
                                                        <img src="img/product/review-3.png" alt="">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4>Blake Ruiz</h4>
                                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                                        <a class="reply_btn" href="#">Reply</a>
                                                    </div>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et
                                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                    ullamco laboris nisi ut aliquip ex ea
                                                    commodo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="review_box">
                                            <h4>Post a comment</h4>
                                            <form class="row contact_form" action="contact_process.php" method="post"
                                                id="contactForm" novalidate="novalidate">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="name" name="name"
                                                            placeholder="Your Full name">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" id="email" name="email"
                                                            placeholder="Email Address">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="number" name="number"
                                                            placeholder="Phone Number">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message" id="message" rows="1"
                                                            placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 text-right">
                                                    <button type="submit" value="submit" class="btn primary-btn">Submit
                                                        Now</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row total_rate">
                                            <div class="col-6">
                                                <div class="box_total">
                                                    <h5>Overall</h5>
                                                    <h4>4.0</h4>
                                                    <h6>(03 Reviews)</h6>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="rating_list">
                                                    <h3>Based on 3 Reviews</h3>
                                                    <ul class="list">
                                                        <li><a href="#">5 Star <i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                                                        </li>
                                                        <li><a href="#">4 Star <i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                                                        </li>
                                                        <li><a href="#">3 Star <i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                                                        </li>
                                                        <li><a href="#">2 Star <i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                                                        </li>
                                                        <li><a href="#">1 Star <i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review_list">
                                            <div class="review_item">
                                                <div class="media">
                                                    <div class="d-flex">
                                                        <img src="img/product/review-1.png" alt="">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4>Blake Ruiz</h4>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et
                                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                    ullamco laboris nisi ut aliquip ex ea
                                                    commodo</p>
                                            </div>
                                            <div class="review_item">
                                                <div class="media">
                                                    <div class="d-flex">
                                                        <img src="img/product/review-2.png" alt="">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4>Blake Ruiz</h4>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et
                                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                    ullamco laboris nisi ut aliquip ex ea
                                                    commodo</p>
                                            </div>
                                            <div class="review_item">
                                                <div class="media">
                                                    <div class="d-flex">
                                                        <img src="img/product/review-3.png" alt="">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4>Blake Ruiz</h4>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et
                                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                    ullamco laboris nisi ut aliquip ex ea
                                                    commodo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="review_box">
                                            <h4>Add a Review</h4>
                                            <p>Your Rating:</p>
                                            <ul class="list">
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                            <p>Outstanding</p>
                                            <form class="row contact_form" action="contact_process.php" method="post"
                                                id="contactForm" novalidate="novalidate">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="name" name="name"
                                                            placeholder="Your Full name" onfocus="this.placeholder = ''"
                                                            onblur="this.placeholder = 'Your Full name'">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" id="email" name="email"
                                                            placeholder="Email Address" onfocus="this.placeholder = ''"
                                                            onblur="this.placeholder = 'Email Address'">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="number" name="number"
                                                            placeholder="Phone Number" onfocus="this.placeholder = ''"
                                                            onblur="this.placeholder = 'Phone Number'">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message" id="message" rows="1"
                                                            placeholder="Review" onfocus="this.placeholder = ''"
                                                            onblur="this.placeholder = 'Review'"></textarea></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 text-right">
                                                    <button type="submit" value="submit" class="primary-btn">Submit
                                                        Now</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                {% for related_product in related_products %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        {% with image=related_product.productimage_set.first %}
                        <div class="product__item__pic set-bg" data-setbg="{{ image.image.url }}">
                            <div class="label new">New</div>
                            <ul class="product__hover">
                                <li><a href="{{ image.image.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a class="add-to-cart-link" href="" data-product-id="{{ related_product.id }}"><span class="icon_bag_alt"></span></a></li>
                                <li><a href="{% url 'app:product_detail_page' related_product.id %}"><span class="icon_link_alt"></span></a></li>
                            </ul>
                        </div>
                        {% endwith %}
                        <div class="product__item__text">
                            <h6><a href="{% url 'app:product_detail_page' related_product.id %}">{{ related_product.name }}</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">{{ related_product.price|intcomma }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->
    
{% endblock content %}
    
{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const addToCartButton = document.getElementById("add-to-cart-button");
        
        addToCartButton.addEventListener("click", function(event) {
            event.preventDefault();

            const productId = "{{ product.id }}";
            console.log(productId);
            const selectedColorElement = document.querySelector('input[name="color__radio"]:checked');
            console.log(selectedColorElement);
            const selectedSizeElement = document.querySelector('input[name="size__radio"]:checked');
            console.log(selectedSizeElement);
            const selectedQuantity = document.querySelector('.pro-qty input').value;
            console.log(selectedQuantity);

            const selectedColor = selectedColorElement.id;
            console.log(selectedColor)
            const selectedSize = selectedSizeElement.id;
            console.log(selectedSize)

            const addToCartUrl = `/add-to-cart/${productId}/${selectedColor}/${selectedSize}/${selectedQuantity}/`;

            // Redirect to the generated URL
            window.location.href = addToCartUrl;
        });
    });
</script>
{% endblock javascript %}