{% extends '_base.html' %}
{% load static %}

{% block title %}Dropshipping{% endblock title %}

{% block cart_num %}

{% if total_items_in_cart == None %}
0
{% else %}
{{ total_items_in_cart }}
{% endif %}

{% endblock cart_num %}

{% block cart_num_offcanvas %}
{% if total_items_in_cart == None %}
0
{% else %}
{{ total_items_in_cart }}
{% endif %}
{% endblock cart_num_offcanvas %}

{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'app:home_page' %}"><i class="fa fa-home"></i> Home</a>
                    <span>Returns Policy</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->



<section class="product spad">
    <div class="container">
        <p><strong>Return & Refund Policy</strong></p>

        <p>Thank you for shopping with us at {{ APP_NAME }}. We understand that there might be times
            when
            the products you receive don't quite match your expectations, and we're here to assist you in those
            instances.
            Please take a moment to carefully review this Return & Refund Policy, as it outlines your rights and
            responsibilities.</p>

        <p><strong>1. Returns</strong></p>

        <p><strong>1.1. Eligibility for Returns:</strong><br>
            - If you find yourself needing to request a return, you have 7 days from the date of product receipt to do
            so.<br>
            - To be eligible for a return, the product must be unused, in its original packaging, and in the same
            condition
            as when you received it.<br>
            - Please note that specific items like personalized goods or perishable items may not be eligible for
            return.
            This information will be clearly indicated on the product page.</p>

        <p><strong>1.2. Return Process:</strong><br>
            - Should you wish to initiate a return, kindly reach out to our dedicated customer support team at [customer
            support email/phone number] within the specified return window.<br>
            - Provide your order number, details about the product, and the reason behind the return.<br>
            - Our friendly customer support team will guide you through the return process, which may also involve
            providing
            you with a return authorization if applicable.</p>

        <p><strong>1.3. Return Shipping:</strong><br>
            - The responsibility for covering the cost of return shipping falls on you, except in cases where the return
            is
            due to a defective or incorrect product sent by us.</p>

        <p><strong>2. Refunds</strong></p>

        <p><strong>2.1. Refund Eligibility:</strong><br>
            - Once we've received and inspected the product you've returned, we'll promptly notify you regarding the
            approval
            or denial of your refund request.<br>
            - If your refund is approved, it will be processed within 5 days.<br>
            - Refunds will be granted exclusively for products that adhere to the eligibility criteria outlined in
            section
            1.1.</p>

        <p><strong>2.2. Refund Process:</strong><br>
            - Refunds will be issued using the initial payment method you used for your purchase.<br>
            - If, for any reason, the original payment method isn't available (e.g., an expired credit card), we'll
            arrange
            an alternative refund method in agreement with both parties.</p>

        <p><strong>2.3. Partial Refunds:</strong><br>
            - On occasion, we may issue partial refunds for products returned with missing parts, packaging damage, or
            indications of use that significantly affect the product's value.</p>

        <p><strong>3. Exchanges</strong></p>

        <p><strong>3.1. Exchanges:</strong><br>
            - At present, we don't facilitate direct product exchanges. If you desire an exchange, you'll need to return
            the
            original item and then place a new order.</p>

        <p><strong>4. Damaged or Defective Products</strong></p>

        <p><strong>4.1. Damaged or Defective Products:</strong><br>
            - Should you receive a product damaged during shipping or with a defect, please notify us within 7 days of
            receiving the item.<br>
            - To expedite the resolution process, we may request photographic evidence of the damage or defect.</p>

        <p><strong>5. Contact Us</strong></p>

        <p>If you have any inquiries or concerns about our Return & Refund Policy, please don't hesitate to reach out to
            our
            dependable customer support team at [customer support email/phone number].</p>

        <p>Please keep in mind that this policy is subject to change without prior notice. It's your responsibility to
            periodically review the policy for updates.</p>

        <p>By making a purchase on {{ APP_NAME }}, you acknowledge that you have read, understood, and
            accepted the terms of this Return & Refund Policy.</p>
    </div>
</section>
{% endblock %}