{% extends '_base.html' %}
{% load static %}
{% block title %}Security{% endblock title %}

{% block customstyle %}
<link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
{% endblock customstyle %}

{% block cart_num %}

{% if total_items_in_cart == None %}
0
{% else %}
{{ total_items_in_cart }}
{% endif %}

{% endblock cart_num %}

{% block cart_num_offcanvas %}
{% if total_items_in_cart == None %}
0
{% else %}
{{ total_items_in_cart }}
{% endif %}
{% endblock cart_num_offcanvas %}

{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'app:home_page' %}"><i class="fa fa-home"></i> Home</a>
                    <span>Account</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link px-3 py-1" href="{% url 'app:account_page' %}"><i
                                class="bx bx-user me-1"></i>Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-background px-3 py-1" href="javascript:void(0);"><i
                                class="bx bx-lock me-1"></i>Security</a>
                    </li>
                </ul>
                <div class="card mb-4">
                    <div class="row">
                        <div class="col-lg-6 m-auto w-100">
                            <h5 class="card-header">Change Password</h5>
                            <!-- Account -->
                            <hr class="my-0" />
                            <div class="card-body">
                                <div class="col-lg-12">
                                    <form id="formAccountSettings">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="mb-3 col-md-12">
                                                <label for="oldPassword" class="form-label">Old Password <span class="text-danger">*</span></label>
                                                <input class="form-control" type="password" id="oldPassword"
                                                    name="oldPassword" placeholder="Old Password" />
                                                <span id="oldPasswordError" style="color: red; font-weight: bold;"></span>
                                            </div>
                                            <div class="mb-3 col-md-12">
                                                <label for="newPassword" class="form-label">New Password <span class="text-danger">*</span></label>
                                                <input class="form-control" type="password" name="newPassword"
                                                    id="newPassword" placeholder="New Password" />
                                                <span id="newPasswordError" style="color: red; font-weight: bold;"></span>
                                            </div>
                                            <div class="mb-3 col-md-12">
                                                <label for="ConfirmPassword" class="form-label">Confirm Password <span class="text-danger">*</span></label>
                                                <input class="form-control" type="password" id="ConfirmPassword"
                                                    name="ConfirmPassword" placeholder="Confirm Password" />
                                                <span id="confirmPasswordError" style="color: red; font-weight: bold;"></span>
                                            </div>
                                        </div>
                                        <div class="mt-2">
                                            <button type="submit" class="btn custom-background save-changes">Change Password</button>
                                            <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /Account -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Danger Section</h5>
                    <div class="card-body">
                        <div class="mb-3 col-12 mb-0">
                            <div class="alert alert-warning">
                                <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete your account?
                                </h6>
                                <p class="mb-0">Once you delete your account, there is no going back. Please be certain.
                                </p>
                            </div>
                        </div>
                        <form id="formAccountDeactivation" action="{% url 'app:handleDeleteAccount' %}" method="post">
                            <div class="form-check mb-3">
                                {% csrf_token %}
                                <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation" required />
                                <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
                            </div>
                            <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
</div>
<!-- Content wrapper -->
{% endblock content %}

{% block javascript %}
<script>
    $(document).ready(function() {
        $("#formAccountSettings").on("submit", function(event) {
            event.preventDefault();

            $("#oldPasswordError").text("");
            $("#newPasswordError").text("");
            $("#confirmPasswordError").text("");

            $.ajax({
                url: "{% url 'app:handleUpdateSecurityDetail' %}",
                method: "POST",
                data: {
                    oldPassword: $('#oldPassword').val(),
                    newPassword: $('#newPassword').val(),
                    ConfirmPassword: $('#ConfirmPassword').val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(data) {
                    if (!data.success) {
                        if (data.message == "Old password is incorrect!") {
                            $("#oldPasswordError").text(data.message)
                        }
                        if (data.message == "Passwords do not match!") {
                            $("#newPasswordError").text(data.message);
                            $("#confirmPasswordError").text(data.message);
                        }
                        if (data.message == "New password cannot be your current password!") {
                            $("#oldPasswordError").text(data.message);
                        }
                    } else {
                        $(".save-changes").text("Password Updated");
                    }
                }
            })
        })
    })
</script>
{% endblock javascript %}