{% extends '_base.html' %}
{% load static %}
{% load humanize %}

{% block cart_num %}

{% if total_items_in_cart == None %}
    0
{% else %}
{{ total_items_in_cart }}
{% endif %}
    
{% endblock cart_num %}

{% block cart_num_offcanvas %}
{% if total_items_in_cart == None %}
    0
{% else %}
{{ total_items_in_cart }}
{% endif %}
{% endblock cart_num_offcanvas %}


{% block title %}Unisex{% endblock title %}


{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'app:home_page' %}"><i class="fa fa-home"></i> Home</a>
                    <span>Unisex</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <div class="sidebar__categories">
                        <div class="section-title">
                            <h4>Categories</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-body">
                                        <ul style="display: block; cursor: pointer;">
                                            <li data-filter="*">All</li>
                                            {% for sub_category in sub_categories %}
                                            <li data-filter=".kids-{{ sub_category.name|lower }}">{{ sub_category.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row property__gallery">
                    {% for product_info in all_products %}
                        {% for sub_category in sub_categories %}
                            {% if product_info.product.sub_category == sub_category %}
                                <div class="col-lg-3 col-md-4 col-sm-6 mix kids-{{ sub_category.name|lower }}">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="{{ product_info.image.image.url }}">
                                            {% if not product_info.date_created|date:"U" > now|date:"U"|add:"-86400" %}
                                            <div class="label new">New</div>
                                            {% endif %}
                                            <ul class="product__hover">
                                                <li><a href="{{ product_info.image.image.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                                {% for color in product_info.product.colors.all %}
                                                {% for size in product_info.product.sizes.all %}
                                                {% if forloop.parentloop.first and forloop.first %}
                                                <li><a class="add-to-cart-link" href="#" id="add-to-cart-button"  data-product-id="{{ product_info.product.id }}" data-color-id="{{ color.color }}" data-size-id="{{ size.name }}"><span class="icon_bag_alt"></span></a></li>
                                                {% else %}
                                                {% endif %}
                                                {% endfor %}
                                                {% endfor %}
                                                <li><a href="{% url 'app:product_detail_page' product_info.product.id %}"><span class="icon_link_alt"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6><a href="{% url 'app:product_detail_page' product_info.product.id  %}">{{ product_info.product.name }}</a></h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product__price">&#8358; {{ product_info.product.price|intcomma|intcomma }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

{% endblock content %}

{% block javascript %}
{% endblock javascript %}