{% extends 'admin_dashboard/_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Admin Dashboard | Create Category{% endblock title %}

{% block content %}
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Category</li>
            <li aria-current="page" class="breadcrumb-item active">Add</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <form action="{% url 'my_admin:add_category' %}" class="card mb-4" method="post">
                {% csrf_token %}
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Add Category</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="{{ category_form.name }}">Name:</label>
                        {{ category_form.name }}
                    </div>
                    <div class="form-group">
                        <label for="{{ category_form.description }}">Description:</label>
                        {{ category_form.description }}
                    </div>
                </div>
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <input type="submit" value="CREATE" class="btn custom-background m-auto">
                </div>
            </form>
        </div>
    </div>
</div>
<!---Container Fluid-->
{% endblock content %}