{% extends 'admin_dashboard/_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Admin Dashboard | Category detail / Edit | {{ category.name }}{% endblock title %}

{% block notification %}
{% for notification in notifications %}
<a class="dropdown-item d-flex align-items-center" href="#">
    {% if notification.notification_type == "REPORTS" %}
    <div class="mr-3">
        <div class="icon-circle bg-primary">
            <i class="fas fa-file-alt text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500">{{ notification.formatted_datetime }}</div>
        <span class="font-weight-bold">{{ notification.title }}</span>
    </div>
    {% elif notification.notification_type == "FINANCE" %}
    <div class="mr-3">
        <div class="icon-circle bg-success">
            <i class="fas fa-donate text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500">{{ notification.formatted_datetime }}</div>
        <span class="font-weight-bold">{{ notification.title }}</span>
    </div>
    {% elif notification.notification_type == "ALERT" %}
    <div class="mr-3">
        <div class="icon-circle bg-warning">
            <i class="fas fa-exclamation-triangle text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500">{{ notification.formatted_datetime }}</div>
        <span class="font-weight-bold">{{ notification.title }}</span>
    </div>
    {% elif notification.notification_type == "REGISTRATION" %}
    <div class="mr-3">
        <div class="icon-circle custom-background">
            <i class="fas fa-user text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500">{{ notification.formatted_datetime }}</div>
        <span class="font-weight-bold">{{ notification.title }}</span>
    </div>
    {% elif notification.notification_type == "ORDER" %}
    <div class="mr-3">
        <div class="icon-circle bg-info">
            <i class="fas fa-shopping-cart text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500">{{ notification.formatted_datetime }}</div>
        <span class="font-weight-bold">{{ notification.title }}</span>
    </div>
    {% elif notification.notification_type == "ACTIVITY" %}
    <div class="mr-3">
        <div class="icon-circle bg-info">
            <i class="fas fa-bell text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500">{{ notification.formatted_datetime }}</div>
        <span class="font-weight-bold">{{ notification.title }}</span>
    </div>
    {% endif %}
</a>
{% endfor %}
{% endblock notification %}

{% block content %}
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Category</li>
            <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <form class="card mb-4" method="post" action="{% url 'my_admin:edit_category' category.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ category.name }}</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" value="{{ category.name }}">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input name="description" id="description" class="form-control"
                            value="{{ category.description }}">
                    </div>
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <input type="submit" value="SAVE CHANGES" class="btn custom-background m-auto">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!---Container Fluid-->
{% endblock content %}